@keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
 
  .crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  .crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  .crt {
  }

  body, html{
    background-color: rgb(100, 100, 100);
    color: green;
    padding: 50px;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
  }

  *{
    font-family: 'Lucida Console';
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 255, 0, 0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;

  }

  *::-webkit-scrollbar { width: 0 !important }
  p{
    font-size:15px;
  }

.logo{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: 60px;
    width: 100%;
    text-align: center;
    text-shadow: 0.4389924193300864px 0 1px rgba(83, 83, 83, 0.5), -0.4389924193300864px 0 1px rgba(23, 23, 23, 0.3), 0 0 3px;
    color: rgb(32, 32, 32);
    background-color: rgb(81, 81, 81);
}

  .comp{
    width: 100%;
    height: 100%;
    border: 20px solid grey;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    background-color: black;
    border-radius: 10px;
  }

  .screen{
    overflow-y: auto;

    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  .writing::after{
    content: '_';
  }

  input{
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: green;
  }

  input::before{
    content: '>';
  }

  input:focus{
    outline: none;
  }

  .input{
    display: flex;
    align-items: center;
    font-size: 15px;
  }


  .note{
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 100;
  }

  .fs{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}