*{
  font-family: 'Roboto', sans-serif;
}

html, body{
  background-color: whitesmoke;
}

 .card {
  padding: 20px;
  box-sizing: border-box;
  transition: transform .2s;
}

.card .card:hover{
  transform: scale(1.2);
}

.card .data{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}

.card-subtitle li{
  margin: 15px;
}

.card.card30{
  width: 30%;
}

.card.card70{
  width: 70%;
}

.card-image{
  margin: 20px;
}

.card-image img{
  border-radius: 50%;
}

.card-holder{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card .card.card30{
  width: 33.33%;
}

.card.card100{
  width: 100%;
}

.card-title{
  font-size: 30px;
  margin: 10px;
  font-weight: 500;
}

.card-subtitle{
  color: gray;
  font-weight: 400;
}

a.card{
  text-decoration: none;
  color: black;
}